    {{> header }}

    {{> navbar }}

    <div class="row">
        <div class="col">
            <h1>Logo</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus consequatur, quo modi illo dolorem debitis facilis consequuntur autem? Voluptas sequi laudantium ducimus nostrum minima, hic quibusdam excepturi incidunt eum adipisci?</p>
        </div>
        <div class="col">
            <img src="assets/img/images.jpg" class="img-thumbnail">   
        </div>
    </div>

    {{> footer }}